:root {
	--container-width: 1800px;
	--container-padding: 15px;

	--font-main: 'DM Sans', sans-serif;
	--font-accent: 'Rubik', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--text-color: #000;
	--accent: #ac182c;
	--link-color: #436372;


    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}