.header {
	padding: 45px 0px 48px;
	// .header__inner

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .header__nav

	&__nav {
		font-family: var(--font-titles);
		font-weight: 500;
	}

	// .header__actions

	&__actions {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	// .header__actions-box
	&__actions-box {
		width: 180px;
		height: 50px;
		background-color: #fcd7b6;
		border-radius: 25px;
		display: flex;
		justify-content: space-evenly;
	}

}

.container {}

.logo {
	font-family: var(--font-titles);
	display: flex;
	align-items: center;
	column-gap: 14px;
	font-size: 36px;
	font-weight: 500;
	// .logo__text

	&__text {}
}

.logo-icon {
	width: 50px;
	height: 39px;
}

.icon {}

.icon--user {}

.nav {

	// .nav__list

	&__list {
		display: flex;
		column-gap: 35px;
		font-size: 15px;
	}

	// .nav__item

	&__item {}

	// .nav__link

	&__link {}
}

.actions {

	// .actions__btn

	&__btn {
		position: relative;
	}

	&__count {
		position: absolute;
		width: 16px;
		height: 16px;
		background-color: white;
		border-radius: 50%;
		top: 6px;
		right: -10px;
		font-size: 10px;
		line-height: 17px;
		color: #243f4d;
	}

	// .actions__btn--search

	&__btn--search {
		background-color: #edf1f4;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
	}

	// .actions__btn--wishlist

	&__btn--wishlist {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			width: 1px;
			height: 32px;
			background-color: #fde7d3;
			right: -25px;
			top: 9px;
			cursor: default;
		}
	}

	// .actions__btn--cart

	&__btn--cart {
	}

	// .actions__btn--more

	&__btn--more {
		background-color: #a3bbc8;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		align-items: center;
		display: inline-flex;
		justify-content: center;
	}
}

.search-icon {
	width: 15px;
	height: 15px;
}

.heart-icon {
	width: 18px;
	height: 16px;
}

.cart-icon {
	width: 19px;
	height: 17px;
}

.more-icon {
	width: 20px;
	height: 20px;
}














// .header {
// 	background-color: #c0e4f4;
// 	padding: 50px 0;

// 	&__row {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// }

// .header__nav {
// 	@include tablet {
// 		display: none;
// 	}
// }