.products {
	padding-top: 75px;
	padding-bottom: 90px;
	// .products__head

	&__head {}

	// .products__title

	&__title {
		margin-bottom: 40px;
		text-align: center;
		font-weight: 600;
		color: #191919;
		font-size: 36px;
	}

	// .products__filters

	&__filters {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}

	// .products__filter

	&__filter {
		button {
			transition: all 0.3s;
			color: #8b8b8b;
			font-weight: 600;
		}

		&+& {
			margin-left: 30px;
		}
	}

	.mixitup-control-active {
		color: #1a1a1a;
	}

	// .products__grids

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 40px 30px;
	}
}

.container {}

.product-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 380px;
	box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
	border-radius: 10px;
	// .product-card__image

	&__image {
		position: relative;
		height: 250px;
		padding-top: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 50px;
		overflow: hidden;
	}

	&__image img {
		max-height: 100%;
		max-width: 100%;
		object-fit: contain;
	}

	// .product-card__actions

	&__actions {
		position: absolute;
		bottom: 40px;
		display: flex;
		transform: translateY(300%);
		transition: all 0.3s;
	}

	// .product-card__action

	&__action {
		align-items: center;
		transition: all .3s;
		border-radius: 50%;
		padding: 11px;
		display: flex;
		background-color: #fff;
		box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);

		&+& {
			margin-left: 15px;
		}
	}

	&__action:hover {
		background-color: #a3bac7;

		path {
			fill: #fff;
			transition: all .3s;
		}
	}

	// .product-card__action--view

	&__action--view {}

	// .product-card__action--cart

	&__action--cart {}

	// .product-card__action--favorite

	&__action--favorite {}

	// .product-card__title

	&__title {
		font-weight: 500;
		margin-bottom: 10px;
	}

	// .product-card__price

	&__price {
		font-weight: 600;
		color: #a3bbc8;
	}

	&:hover {
		.product-card__actions {
			transform: translateY(0);
		}
	}

}