.team {
  padding-top: 120px;
  padding-bottom: 60px;
  // .team__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  // .team__content

  &__content {
    max-width: 305px;
  }

  // .team__title

  &__title {
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 700;
  }

  // .team__text

  &__text {
    margin-bottom: 40px;
    font-family: var(--font-accent);
    line-height: 30px;
  }

  // .team__btn

  &__btn {
    @extend %btn;
    padding: 19px 60px 18px 18px;
    font-weight: 600;
    display: inline-block;
    border-radius: 5px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../../img/about-us/team/arrow-icon.svg);
      width: 15px;
      height: 11px;
      right: 25px;
      top: 23px;
    }
  }

  // .team__btn-icon

  &__btn-icon {}

  // .team__grid

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 100px;
  }
}

.container {}

.container--narrow {}

.team-card {
  position: relative;
  // .team-card__image

  &__image {}

  // .team-card__info

  &__info {
    position: absolute;
    bottom: -60px;
    width: 325px;
    height: 110px;
    background-color: #fff;
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
  }

  // .team-card__name

  &__name {
    font-size: 22px;
    font-weight: 700;
    color: #436372;
    margin-bottom: 15px;
  }

  // .team-card__role

  &__role {
    color: #565872;
    font-family: var(--font-accent);
  }

  // .team-card__social

  &__social {
    display: flex;
    column-gap: 7px;
  }

  // .team-card__social-link

  &__social-link {

    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 18px;
      height: 18px;
    }

  }
}